.registration_container {
    width: 302px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 8px 8px 24px 0 rgba(66, 68, 90, 1);
}

.input_container {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.input{
    width: 459px;
    height: 60px;
    border-radius: 8px;
    padding-left: 36px;
    border: 1px solid #BDBDBD;
    color: #282c34;
}

.input::placeholder {
    color: #999999;
}

.logo{
    width: 30px;
    height: 30px;
    position: absolute;
}

.logo_first_name {
    top: 25%;
}

.logo_last_name {
    top: 25%;
}

.logo_user {
    top: 25%;
}

.logo_email {
    top: 25%;
}



.logo_confirm_password {
    top: 25%;
}

.logo_password {
    top: 25%;
}

.submit {
    cursor: pointer;
    width: 129px;
    height: 60px;
    border-radius: 8px;
    background: #FF9090;
}

.error{
    color: red;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 12px;
    margin-top: 2px;
}




