.input_title {
    border: 1px solid #565454;
    width: 50%;
    height: 34px;
}

.input_date {
    border: 1px solid #565454;
    width: 50%;
    height: 34px;
    appearance: none;
    color: #B7B8BF;
}

.input_description {
    border: 1px solid #565454;
    border-radius: 5px;
    width: 511px;
    height: 205px;
    resize: none;
    color: #B7B8BF;
    font-size: 13px;
    padding: 12px;
}
